---
import Social from "./Social.astro";
import "../styles/global.css";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>
    <Social platform="twitter" username="withastro" />
    <Social platform="github" username="OmarP26" />
    <Social platform="youtube" username="withastro" />
  </p>
</footer>
